<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Let's get Cooking!</h1>
                        <p class="intro-text"><br></p>
                        <%=link_to "Let's Get Started!", ingredients_path, class: 'btn btn-md btn-warning'%>

                    </div>
                </div>
            </div>
        </div>
    </header>
