<div class="panel-newingredients">
  <div class="panel-heading">
    <h1 class="brand-heading"> New Ingredient </h1>
  </div>
    <body>
        <p>
          <%= simple_form_for @ingredient do |f| %>
            <%= f.input :name, label: false, input_html: {placeholder: "Let's Get Your New Ingredient"} %>
            <%= f.submit "Submit".html_safe, class: "btn btn-lg btn-warning" %>

          <% end %>
        </p>
    </body>
  </div>
